<a href="https://colab.research.google.com/github/sailohitaksh-cryptic/Credit-Fraud-Detection/blob/main/machine_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit Card Fraud Detection

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##### Importing the Data into our Project

In [48]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Credit-Fraud-Detection/Creditcard_data.csv')

In [49]:
data.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    772 non-null    int64
 1   V1      772 non-null    float64
 2   V2      772 non-null    float64
 3   V3      772 non-null    float64
 4   V4      772 non-null    float64
 5   V5      772 non-null    float64
 6   V6      772 non-null    float64
 7   V7      772 non-null    float64
 8   V8      772 non-null    float64
 9   V9      772 non-null    float64
 10  V10     772 non-null    float64
 11  V11     772 non-null    float64
 12  V12     772 non-null    float64
 13  V13     772 non-null    float64
 14  V14     772 non-null    float64
 15  V15     772 non-null    float64
 16  V16     772 non-null    float64
 17  V17     772 non-null    float64
 18  V18     772 non-null    float64
 19  V19     772 non-null    float64
 20  V20     772 non-null    float64
 21  V21     772 non-null    float64
 22  V22     772 non-null    float64
 23  V23     772 non-null    float64
 24  V24     772 non-null    float64
 25  V25     772 non-null    float64
 26  V26     772 non-null    float64
 27  V27     772 non-null    float64
 28  V28     772 non-null    float64
 29  Amount  772 non-null    float64
 30  Class   772 non-null    int64
dtypes: float64(29), int64(2)
memory usage: 187.1 KB

In [51]:
data.shape

(772, 31)

In [52]:
Total_transactions = len(data)
Total_transactions

772

Number of Normal transactions

In [53]:
normal = len(data[data.Class == 0])
normal

763

Number of Fraudulent Transactions

In [54]:
fraudulent = len(data[data.Class == 1])
fraudulent

9

In [55]:
fraud_percentage = round(fraudulent/normal*100, 2)
fraud_percentage

1.18

In [56]:
data.drop_duplicates(inplace=True)

In [57]:
normal = len(data[data.Class == 0])
normal

756

In [58]:
fraudulent = len(data[data.Class == 1])
fraudulent

9

In [59]:
min(data.Amount)

0.0

In [60]:
max(data.Amount)

3828.04

In [61]:
data=data.drop('Time',axis=1)

In [62]:
data=data.drop('Amount',axis=1)

In [154]:
x=data.drop('Class',axis=1)

In [155]:
y=data["Class"]

#### Checking the accuracy of various models on the imbalanced dataset using pycaret classification

In [ ]:
#!pip install pycaret

In [16]:
import pycaret
pycaret.__version__

'2.3.10'

In [63]:
from pycaret.classification import *
clf1 = setup(data=data, target='Class',silent=True)

                               Description             Value
0                               session_id              8203
1                                   Target             Class
2                              Target Type            Binary
3                            Label Encoded              None
4                            Original Data         (765, 29)
5                           Missing Values             False
6                         Numeric Features                28
7                     Categorical Features                 0
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set         (535, 28)
12                    Transformed Test Set         (230, 28)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              be81
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer          constant
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection             False
53                Feature Selection Method           classic
54            Features Selection Threshold              None
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance             False
59                    Fix Imbalance Method             SMOTE

INFO:logs:create_model_container: 0
INFO:logs:master_model_container: 0
INFO:logs:display_container: 1
INFO:logs:Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=False, features_todrop=[],
                                      id_columns=[],
                                      ml_usecase='classification',
                                      numerical_features=[], target='Class',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeric_strat...
                ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='Class')),
                ('fix_perfect', Remove_100(target='Class')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False)
INFO:logs:setup() succesfully completed......................................

In [65]:
cm = compare_models()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
knn,K Neighbors Classifier,0.9907,0.2443,0.0,0.0,0.0,NaN,0.0000,0.027
ridge,Ridge Classifier,0.9907,0.0000,0.0,0.0,0.0,NaN,0.0000,0.014
rf,Random Forest Classifier,0.9907,0.1981,0.0,0.0,0.0,NaN,0.0000,0.233
qda,Quadratic Discriminant Analysis,0.9907,0.2500,0.0,0.0,0.0,NaN,0.0000,0.018
ada,Ada Boost Classifier,0.9907,0.4151,0.0,0.0,0.0,NaN,0.0000,0.243
et,Extra Trees Classifier,0.9907,0.2840,0.0,0.0,0.0,NaN,0.0000,0.308
lightgbm,Light Gradient Boosting Machine,0.9907,0.3453,0.0,0.0,0.0,NaN,0.0000,0.120
dummy,Dummy Classifier,0.9907,0.2500,0.0,0.0,0.0,NaN,0.0000,0.012
lr,Logistic Regression,0.9852,0.1962,0.0,0.0,0.0,NaN,-0.0057,0.045
gbc,Gradient Boosting Classifier,0.9851,0.2189,0.0,0.0,0.0,NaN,0.0000,0.636
svm,SVM - Linear Kernel,0.9814,0.0000,0.0,0.0,0.0,NaN,-0.0057,0.016
dt,Decision Tree Classifier,0.9758,0.2472,0.0,0.0,0.0,NaN,-0.0046,0.016
lda,Linear Discriminant Analysis,0.9739,0.2660,0.0,0.0,0.0,NaN,-0.0057,0.028
nb,Naive Bayes,0.9647,0.1717,0.0,0.0,0.0,NaN,-0.0084,0.016

INFO:logs:create_model_container: 28
INFO:logs:master_model_container: 28
INFO:logs:display_container: 3
INFO:logs:KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
                     weights='uniform')
INFO:logs:compare_models() succesfully completed......................................

### As we can see clearly the number of fraud cases is really low and if we apply undersampling it may lead to very inaccurate predictions. Therefore we will avoid it.

### We will create two Balanced Datasets using two different oversampling methods:-

In [97]:
x = data.drop('Class', axis=1)
y = data['Class']

* Using Smote -

In [98]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
x_resampled, y_resampled = smote.fit_resample(x, y)

In [99]:
data_smote = pd.concat([pd.DataFrame(x_resampled, columns=x.columns), pd.DataFrame(y_resampled, columns=['Class'])], axis=1)

In [100]:
data_smote.to_csv("/content/drive/MyDrive/Credit-Fraud-Detection/data_smote.csv")

In [101]:
data_smote.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0

In [102]:
data_smote.shape

(1512, 29)

Before Oversampling -

In [103]:
data['Class'].value_counts()

0    756
1      9
Name: Class, dtype: int64

After Oversampling

In [104]:
data_smote['Class'].value_counts()

0    756
1    756
Name: Class, dtype: int64

* Using ADASYN -

In [105]:
from imblearn.over_sampling import ADASYN
adasyn = ADASYN()
x_resampled, y_resampled = adasyn.fit_resample(x, y)

In [106]:
data_adasyn = pd.concat([pd.DataFrame(x_resampled, columns=x.columns), pd.DataFrame(y_resampled, columns=['Class'])], axis=1)

In [107]:
data_adasyn.to_csv("/content/drive/MyDrive/Credit-Fraud-Detection/data_adasyn.csv")

In [108]:
data_adasyn['Class'].value_counts()

0    756
1    756
Name: Class, dtype: int64

#### Now we will create samples of the oversampled datasets using various sampling techniques.

In [109]:
data_smote.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0

In [111]:
data_adasyn.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0

In [112]:
x_smote=data_smote.drop("Class",axis=1)
y_smote=data_smote["Class"]

In [133]:
x_adasyn=data_smote.drop("Class",axis=1)
y_adasyn=data_smote["Class"]

In [117]:
import math
Z = 1.96
p = 0.5
E = 0.05

##### The Sampling techniques we will be using are -

* Simple Random Sampling

In [123]:
n = math.ceil((Z**2 * p * (1 - p)) / E**2)

In [124]:
from sklearn.utils import resample
smote_sample1 = resample(data_smote, replace=False, n_samples=n)
print(smote_sample1['Class'].value_counts())

0    194
1    191
Name: Class, dtype: int64

In [125]:
adasyn_sample1 = resample(data_adasyn, replace=False, n_samples=n)
print(adasyn_sample1['Class'].value_counts())

0    198
1    187
Name: Class, dtype: int64

* Systematic Sampling

In [127]:
n = math.ceil((Z**2 * p * (1 - p)) / E**2)
n

385

In [129]:
N = len(data_smote)
k = N // n
interval = k + 1 if N % n != 0 else k
start = np.random.randint(interval)
indexes = range(start, N, interval)
smote_sample2 = data_smote.iloc[indexes]
print(smote_sample2['Class'].value_counts())

0    189
1    189
Name: Class, dtype: int64

In [130]:
N = len(data_adasyn)
k = N // n
interval = k + 1 if N % n != 0 else k
start = np.random.randint(interval)
indexes = range(start, N, interval)
adasyn_sample2 = data_adasyn.iloc[indexes]
print(adasyn_sample2['Class'].value_counts())

0    189
1    189
Name: Class, dtype: int64

* Stratified Sampling

In [134]:
n=392

In [135]:
from sklearn.model_selection import StratifiedShuffleSplit

In [140]:
stratified_sampler = StratifiedShuffleSplit(n_splits=1, test_size=n)
for sample_indices, _ in stratified_sampler.split(x_smote, y_smote):
    x_sample = x_smote.loc[sample_indices]
    y_sample = y_smote.loc[sample_indices]
smote_sample3 = pd.concat([pd.DataFrame(x_sample, columns=x.columns), pd.DataFrame(y_sample, columns=['Class'])], axis=1)
smote_sample3['Class'].value_counts()

0    560
1    560
Name: Class, dtype: int64

In [141]:
stratified_sampler = StratifiedShuffleSplit(n_splits=1, test_size=n)
for sample_indices, _ in stratified_sampler.split(x_adasyn, y_adasyn):
    x_sample = x_adasyn.loc[sample_indices]
    y_sample = y_adasyn.loc[sample_indices]
adasyn_sample3 = pd.concat([pd.DataFrame(x_sample, columns=x.columns), pd.DataFrame(y_sample, columns=['Class'])], axis=1)
adasyn_sample3['Class'].value_counts()

0    560
1    560
Name: Class, dtype: int64

* Cluster Sampling

In [142]:
from sklearn.cluster import KMeans

In [150]:
x_smote_df = pd.DataFrame(x_smote, columns=data_smote.columns[:-1])
kmeans = KMeans(n_clusters=10)
X_clusters = kmeans.fit_predict(x_smote_df)
n_per_cluster = 10  # set the number of instances per cluster
cluster_indices = []
for i in range(10):
    cluster_indices.append(
        x_smote_df.index[X_clusters == i].to_frame().sample(n_per_cluster)
    )
sample_indices = pd.concat(cluster_indices)
smote_sample4 = data_smote.iloc[sample_indices.index]

In [152]:
x_adasyn_df = pd.DataFrame(x_adasyn, columns=data_adasyn.columns[:-1])
kmeans = KMeans(n_clusters=10)
X_clusters = kmeans.fit_predict(x_adasyn_df)
n_per_cluster = 7  # set the number of instances per cluster
cluster_indices = []
for i in range(10):
    cluster_indices.append(
        x_adasyn_df.index[X_clusters == i].to_frame().sample(n_per_cluster)
    )
sample_indices = pd.concat(cluster_indices)
adasyn_sample4 = data_adasyn.iloc[sample_indices.index]

### Now We will apply the Machine Learning Models on the balanced dataset samples and compare the accuracy
#### The Models we will be using are:-
* Decision Tree Classifier
* Random Forest Classifier
* Logistic Regression
* K-Nearest Neighbour
* XGBoost Classifier

First we will split our original dataset into a training and test data

In [153]:
from sklearn.model_selection import train_test_split

In [169]:
from sklearn.metrics import accuracy_score

In [156]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2, random_state=42)

Lets start training the models

* Decision Tree Classifier

In [157]:
from sklearn.tree import DecisionTreeClassifier
dec_tree=DecisionTreeClassifier(random_state=42)

In [159]:
dec_tree.fit(smote_sample1.drop('Class',axis=1),smote_sample1['Class'])
dec_pred_smote_1=dec_tree.predict(X_test)

In [160]:
dec_tree.fit(smote_sample2.drop('Class',axis=1),smote_sample2['Class'])
dec_pred_smote_2=dec_tree.predict(X_test)

In [161]:
dec_tree.fit(smote_sample3.drop('Class',axis=1),smote_sample3['Class'])
dec_pred_smote_3=dec_tree.predict(X_test)

In [162]:
dec_tree.fit(smote_sample4.drop('Class',axis=1),smote_sample4['Class'])
dec_pred_smote_4=dec_tree.predict(X_test)

In [163]:
dec_tree.fit(adasyn_sample1.drop('Class',axis=1),adasyn_sample1['Class'])
dec_pred_adasyn_1=dec_tree.predict(X_test)

In [164]:
dec_tree.fit(adasyn_sample2.drop('Class',axis=1),adasyn_sample2['Class'])
dec_pred_adasyn_2=dec_tree.predict(X_test)

In [165]:
dec_tree.fit(adasyn_sample3.drop('Class',axis=1),adasyn_sample3['Class'])
dec_pred_adasyn_3=dec_tree.predict(X_test)

In [166]:
dec_tree.fit(adasyn_sample4.drop('Class',axis=1),adasyn_sample4['Class'])
dec_pred_adasyn_4=dec_tree.predict(X_test)

In [168]:
model1 = [accuracy_score(Y_test,dec_pred_smote_1)*100,accuracy_score(Y_test,dec_pred_smote_2)*100,accuracy_score(Y_test,dec_pred_smote_3)*100,accuracy_score(Y_test,dec_pred_smote_4)*100,accuracy_score(Y_test,dec_pred_adasyn_1)*100,accuracy_score(Y_test,dec_pred_adasyn_2)*100,accuracy_score(Y_test,dec_pred_adasyn_3)*100,accuracy_score(Y_test,dec_pred_adasyn_4)*100]

* Random Forest Classifier

In [170]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(random_state=42)

In [216]:
rf.fit(smote_sample1.drop('Class',axis=1),smote_sample1['Class'])
rf_pred_smote_1=rf.predict(X_test)

In [217]:
rf.fit(smote_sample2.drop('Class',axis=1),smote_sample2['Class'])
rf_pred_smote_2=rf.predict(X_test)

In [218]:
rf.fit(smote_sample3.drop('Class',axis=1),smote_sample3['Class'])
rf_pred_smote_3=rf.predict(X_test)

In [219]:
rf.fit(smote_sample4.drop('Class',axis=1),smote_sample4['Class'])
rf_pred_smote_4=rf.predict(X_test)

In [220]:
rf.fit(adasyn_sample1.drop('Class',axis=1),adasyn_sample1['Class'])
rf_pred_adasyn_1=rf.predict(X_test)

In [221]:
rf.fit(adasyn_sample2.drop('Class',axis=1),adasyn_sample2['Class'])
rf_pred_adasyn_2=rf.predict(X_test)

In [222]:
rf.fit(adasyn_sample3.drop('Class',axis=1),adasyn_sample3['Class'])
rf_pred_adasyn_3=rf.predict(X_test)

In [223]:
rf.fit(adasyn_sample4.drop('Class',axis=1),adasyn_sample4['Class'])
rf_pred_adasyn_4=rf.predict(X_test)

In [224]:
model2 = [accuracy_score(Y_test,rf_pred_smote_1)*100,accuracy_score(Y_test,rf_pred_smote_2)*100,accuracy_score(Y_test,rf_pred_smote_3)*100,accuracy_score(Y_test,rf_pred_smote_4)*100,accuracy_score(Y_test,rf_pred_adasyn_1)*100,accuracy_score(Y_test,rf_pred_adasyn_2)*100,accuracy_score(Y_test,rf_pred_adasyn_3)*100,accuracy_score(Y_test,rf_pred_adasyn_4)*100]

* Logistic Regression

In [225]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [226]:
lr.fit(smote_sample1.drop('Class',axis=1),smote_sample1['Class'])
lr_pred_smote_1=lr.predict(X_test)

In [227]:
lr.fit(smote_sample2.drop('Class',axis=1),smote_sample2['Class'])
lr_pred_smote_2=lr.predict(X_test)

In [228]:
lr.fit(smote_sample3.drop('Class',axis=1),smote_sample3['Class'])
lr_pred_smote_3=lr.predict(X_test)

In [229]:
lr.fit(smote_sample4.drop('Class',axis=1),smote_sample4['Class'])
lr_pred_smote_4=lr.predict(X_test)

In [230]:
lr.fit(adasyn_sample1.drop('Class',axis=1),adasyn_sample1['Class'])
lr_pred_adasyn_1=lr.predict(X_test)

In [231]:
lr.fit(adasyn_sample2.drop('Class',axis=1),adasyn_sample2['Class'])
lr_pred_adasyn_2=lr.predict(X_test)

In [232]:
lr.fit(adasyn_sample3.drop('Class',axis=1),adasyn_sample3['Class'])
lr_pred_adasyn_3=lr.predict(X_test)

In [233]:
lr.fit(adasyn_sample4.drop('Class',axis=1),adasyn_sample4['Class'])
lr_pred_adasyn_4=lr.predict(X_test)

In [234]:
model3 = [accuracy_score(Y_test,lr_pred_smote_1)*100,accuracy_score(Y_test,lr_pred_smote_2)*100,accuracy_score(Y_test,lr_pred_smote_3)*100,accuracy_score(Y_test,lr_pred_smote_4)*100,accuracy_score(Y_test,lr_pred_adasyn_1)*100,accuracy_score(Y_test,lr_pred_adasyn_2)*100,accuracy_score(Y_test,lr_pred_adasyn_3)*100,accuracy_score(Y_test,lr_pred_adasyn_4)*100]

* K-Nearest Neighbour

In [235]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)

In [236]:
knn.fit(smote_sample1.drop('Class',axis=1),smote_sample1['Class'])
knn_pred_smote_1=knn.predict(X_test)

In [237]:
knn.fit(smote_sample2.drop('Class',axis=1),smote_sample2['Class'])
knn_pred_smote_2=knn.predict(X_test)

In [238]:
knn.fit(smote_sample3.drop('Class',axis=1),smote_sample3['Class'])
knn_pred_smote_3=knn.predict(X_test)

In [239]:
knn.fit(smote_sample4.drop('Class',axis=1),smote_sample4['Class'])
knn_pred_smote_4=knn.predict(X_test)

In [240]:
knn.fit(adasyn_sample1.drop('Class',axis=1),adasyn_sample1['Class'])
knn_pred_adasyn_1=knn.predict(X_test)

In [241]:
knn.fit(adasyn_sample2.drop('Class',axis=1),adasyn_sample2['Class'])
knn_pred_adasyn_2=knn.predict(X_test)

In [242]:
knn.fit(adasyn_sample3.drop('Class',axis=1),adasyn_sample3['Class'])
knn_pred_adasyn_3=knn.predict(X_test)

In [243]:
knn.fit(adasyn_sample4.drop('Class',axis=1),adasyn_sample4['Class'])
knn_pred_adasyn_4=knn.predict(X_test)

In [244]:
model4 = [accuracy_score(Y_test,knn_pred_smote_1)*100,accuracy_score(Y_test,knn_pred_smote_2)*100,accuracy_score(Y_test,knn_pred_smote_3)*100,accuracy_score(Y_test,knn_pred_smote_4)*100,accuracy_score(Y_test,knn_pred_adasyn_1)*100,accuracy_score(Y_test,knn_pred_adasyn_2)*100,accuracy_score(Y_test,knn_pred_adasyn_3)*100,accuracy_score(Y_test,knn_pred_adasyn_4)*100]

* XGBoost Classifier

In [245]:
from xgboost import XGBClassifier
xgb=XGBClassifier()

In [246]:
xgb.fit(smote_sample1.drop('Class',axis=1),smote_sample1['Class'])
xgb_pred_smote_1=xgb.predict(X_test)

In [247]:
xgb.fit(smote_sample2.drop('Class',axis=1),smote_sample2['Class'])
xgb_pred_smote_2=xgb.predict(X_test)

In [248]:
xgb.fit(smote_sample3.drop('Class',axis=1),smote_sample3['Class'])
xgb_pred_smote_3=xgb.predict(X_test)

In [249]:
xgb.fit(smote_sample4.drop('Class',axis=1),smote_sample4['Class'])
xgb_pred_smote_4=xgb.predict(X_test)

In [250]:
xgb.fit(adasyn_sample1.drop('Class',axis=1),adasyn_sample1['Class'])
xgb_pred_adasyn_1=xgb.predict(X_test)

In [251]:
xgb.fit(adasyn_sample2.drop('Class',axis=1),adasyn_sample2['Class'])
xgb_pred_adasyn_2=xgb.predict(X_test)

In [252]:
xgb.fit(adasyn_sample3.drop('Class',axis=1),adasyn_sample3['Class'])
xgb_pred_adasyn_3=xgb.predict(X_test)

In [253]:
xgb.fit(adasyn_sample4.drop('Class',axis=1),adasyn_sample4['Class'])
xgb_pred_adasyn_4=xgb.predict(X_test)

In [254]:
model5 = [accuracy_score(Y_test,xgb_pred_smote_1)*100,accuracy_score(Y_test,xgb_pred_smote_2)*100,accuracy_score(Y_test,xgb_pred_smote_3)*100,accuracy_score(Y_test,xgb_pred_smote_4)*100,accuracy_score(Y_test,xgb_pred_adasyn_1)*100,accuracy_score(Y_test,xgb_pred_adasyn_2)*100,accuracy_score(Y_test,xgb_pred_adasyn_3)*100,accuracy_score(Y_test,xgb_pred_adasyn_4)*100]

##### Now we can create our table with compiled accuracies of various models on various sampling techniques

In [279]:
models = ["Decision Tree","Random Forest","Logistic Regression","KNN","XGBoost"]

In [280]:
Sampling=["Simple Random Sampling - SMOTE", "Systematic Sampling - SMOTE", "Stratified Sampling - SMOTE", "Cluster Sampling - SMOTE", "Simple Random Sampling - ADASYN", "Systematic Sampling - ADASYN", "Stratified Sampling - ADASYN", "Cluster Sampling - ADASYN"]

In [297]:
final_table = pd.DataFrame()
final_table['Sampling Technique > Model ↓'] = Sampling
final_table['Decision Tree'] = model1
final_table['Random Forest'] = model2
final_table['Logistic Regression'] = model3
final_table['KNN'] = model4
final_table['XGBoost'] = model5

In [298]:
final_table.T

,0,1,2,3,4,5,6,7
Sampling Technique > Model ↓,Simple Random Sampling - SMOTE,Systematic Sampling - SMOTE,Stratified Sampling - SMOTE,Cluster Sampling - SMOTE,Simple Random Sampling - ADASYN,Systematic Sampling - ADASYN,Stratified Sampling - ADASYN,Cluster Sampling - ADASYN
Decision Tree,96.078431,93.464052,98.69281,84.96732,98.039216,95.424837,99.346405,81.699346
Random Forest,99.346405,97.385621,100.0,96.732026,99.346405,99.346405,98.69281,83.660131
Logistic Regression,82.352941,83.660131,84.96732,82.352941,83.006536,83.660131,83.006536,58.169935
KNN,81.045752,81.699346,92.810458,64.705882,82.352941,83.660131,91.503268,32.679739
XGBoost,98.69281,94.771242,100.0,91.503268,98.69281,98.69281,98.69281,79.738562